chess/pieces/__pycache__/bishop.cpython-310.pyc
chess/__pycache__/board.cpython-310.pyc
chess/pieces/__pycache__/king.cpython-310.pyc
chess/pieces/__pycache__/knight.cpython-310.pyc
chess/pieces/__pycache__/pawn.cpython-310.pyc
chess/pieces/__pycache__/piece.cpython-310.pyc
