BOT_TOKEN=1234567890:ABCdsafasdasfafafaf
BOT_FSM_STORAGE=memory
POSTGRES_DSN=postgresql+asyncpg://username:password@host:port/databasename
# CUSTOM_BOT_API=
# APP_HOST=0.0.0.0
# APP_PORT=9000
# WEBHOOK_DOMAIN=
# WEBHOOK_PATH=